@import url('https://fonts.googleapis.com/css?family=Quicksand');
body {
  background-color: beige;
  /*font-family: 'Fira Sans Condensed', sans-serif;*/
   font-family: 'Quicksand', sans-serif;
  margin: 0;
}
.main {
  background-color:;
  display: grid;
  grid-template-columns:100%;
  min-height: 800px;
  grid-template-rows:4fr 1fr 6fr;
  justify-content: center;
  


  
  border-bottom:1px solid white;
}




.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
}



/* -------------------the top part*/
.budget-statics {
  background-color: ;
  grid-row:1 / 2;
  background-image: url(http://albumarium.com/media/W1siZiIsIjUyZmE5MWZhNzY3MDczNzFlNjAwMDAwMCJdXQ?sha=8145f073);
  background-repeat: no-repeat;
  background-size: cover;
}
.top {
  color: white;
  padding: 16px;
  min-width: 20%;
  background-color: rgba(249, 249, 247, 0.1);
}
.top h3 {
  font-size: 22px;
}

.budget {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;

}

.income {
  background-color: rgba(13, 114, 18, 0.7);
  margin: 10px 0; 
  padding: 8px;
  height: 25px;
}
.income .right {
  color: white;
  padding: 5px; 
  margin-right: 30px;

  }

.expenses{
  background-color: rgba(216, 82, 82, 0.8);
  margin-bottom: 7px;
  padding: 8px;
  
  grid-template-columns:repeat(1fr, 6);
}
.expenses .right {
  color: white;
  background-color: rgba(216, 82, 82, 0.8);
}
.expenses .percentage {
 
  background-color: rgba(249, 249, 247, 0.2);
}
.right {
  float: right;

}
.left {
  float: left;
}
/* -------------------the input area*/
.input-area {
  background-color:;
  grid-row:2 / 3;
  padding:10px;

}
.add-btn, .add-description, .add-value, .entry-type {
  
  border: 1px solid green;
  border-radius: 5px;
  background-color:white;
  padding: 8px;
  margin-right: 11px;


}

.add-btn {
  border-radius: 50%;
 
}

.add-description {
  width:150px;
}
.add-value {
  width:50px;
}
.entry-type {
  width: 45px;

  background: url(up-down1.png) white;
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: right center;
  -webkit-appearance: none;
  -moz-appearance: none;
}


/* -------------------the list area*/
.entries-grid {
  grid-row:3 /4;
  background-color:rgba(192, 196, 216, 0.5);
  /*-- nested grid --*/
  display: grid;
  min-width:90%;
  grid-template-columns:50% 50%; 
  grid-column-gap:5px;
  justify-content: center;
  padding: 10%;
}
.income_list {
  grid-column:1 / 2;
  padding: 10px;

}

.expenses_list {
  grid-column:2 / 2;
  padding: 10px;
}
.entry {
border-bottom: 1px solid white;
padding: 20px;
width: 80%;
height: 15px;
}

.entry:hover {
  background-color: rgba(237, 161, 9, 0.1)
}
.dellete-btn {
  color: red;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-left: 15px;
}
.income_list .right {color:rgba(13, 114, 18, 0.5);}
.income_list h2 {color:rgba(13, 114, 18, 0.5);}
.income_list .dellete-btn {
  border:1px solid rgba(13, 114, 18, 0.7);
  color: rgba(13, 114, 18, 0.5);
}
.expenses_list .right, h2 {color: rgba(216, 82, 82, 0.8);}
.expenses_list .right, h2 {color: rgba(216, 82, 82, 0.8);}
.expenses_list .dellete-btn {
    border:0.1px solid red;
}

.dellete-btn {
  display: none;
}

.entry:hover .dellete-btn {
  display: inline;
}

.percentage {
  background-color: rgba(216, 82, 82, 0.5);
  margin-left: 10px;
  border-radius: 20%;
  padding: 3px;
}

